@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background-image: url("https://wp-s.ru/wallpapers/6/18/562813614970884/zv-zdnye-vojny-dart-vejder.jpg");
    margin: 0;
    font-family: 'Press Start 2P', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


